@charset "utf-8";
@import '../normalize';
@import '../variables';
@import '../syntax';
@import '../icon-font';
@import 'default';


/** header github **/
.icon {
  font-family: 'kuzzle-icon', 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 36px;
  color: #FFFFFF;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.icon-x-small {
  font-size: 12px;
}
.icon.icon-small {
  font-size: 18px;
}
.icon.icon-medium {
  font-size: 26px;
}
.icon.icon-large {
  font-size: 45px;
}
.icon.icon-yellow {
  color: #EFC94C;
}
.icon.icon-light {
  color: $medium;
}
.icon.icon-dark {
  color: #004B52;
}
.icon.icon-grey {
  color: #33393F;
}
.icon.icon-middle {
  vertical-align: middle;
}
.icon.icon-sub {
  vertical-align: sub;
}
.icon.icon-tooltip {
  padding: 0 10px 0 10px;
  display: inline-block;
}
.icon.icon-play_arrow:before {
  content: "\e01b";
}
.icon.icon-download-alt:before {
  content: "\e0ff";
}
.icon.icon-arrow-down:before {
  content: "\e10f";
}
.icon.icon-arrow-up:before {
  content: "\e112";
}
.icon.icon-menu:before {
  content: "\e20e";
}
.icon.icon-code:before {
  content: "\e284";
}
.icon.icon-settings_ethernet:before {
  content: "\e2d1";
}
.icon.icon-reading:before {
  content: "\e620";
}
.icon.icon-collaboration:before {
  content: "\e616";
}
.icon.icon-diploma1:before {
  content: "\e617";
}
.icon.icon-download2:before {
  content: "\e618";
}
.icon.icon-external:before {
  content: "\e619";
}
.icon.icon-info:before {
  content: "\e61a";
}
.icon.icon-left-round:before {
  content: "\e61b";
}
.icon.icon-left-arrow:before {
  content: "\e61c";
}
.icon.icon-right-round:before {
  content: "\e61b";
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  display: inline-block;
}
.icon.icon-right-arrow:before {
  content: "\e61c";
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  display: inline-block;
}
.icon.icon-puzzle:before {
  content: "\e61d";
}
.icon.icon-elasticsearch:before {
  content: "\e620";
}
.icon.icon-checkmark:before {
  content: "\e61e";
}
.icon.icon-contacts:before {
  content: "\e61f";
}
.icon.icon-linkedin:before {
  content: "\e615";
}
.icon.icon-cancel:before {
  content: "\e614";
}
.icon.icon-quote-alt:before {
  content: "\e613";
}
.icon.icon-alert:before {
  content: "\e60f";
}
.icon.icon-bookmark:before {
  content: "\e610";
}
.icon.icon-check:before {
  content: "\e611";
}
.icon.icon-star:before {
  content: "\e612";
}
.icon.icon-idea:before {
  content: "\e60e";
}
.icon.icon-download:before {
  content: "\e60d";
}
.icon.icon-ask:before {
  content: "\e600";
}
.icon.icon-buisiness:before {
  content: "\e601";
}
.icon.icon-doc:before {
  content: "\e602";
}
.icon.icon-email:before {
  content: "\e603";
}
.icon.icon-games:before {
  content: "\e604";
}
.icon.icon-get-started:before {
  content: "\e605";
}
.icon.icon-github:before {
  content: "\e606";
}
.icon.icon-iot:before {
  content: "\e607";
}
.icon.icon-mobile:before {
  content: "\e608";
}
.icon.icon-quote:before {
  content: "\e609";
}
.icon.icon-social-media:before {
  content: "\e60a";
}
.icon.icon-twitter:before {
  content: "\e60b";
}
.icon.icon-websites:before {
  content: "\e60c";
}
.icon.icon-eye-plus:before {
  content: "\e900";
}

.icon.icon-small {
  font-size: 18px;
}
.icon.icon-github:before {
  content: "\e606";
}
header nav ul li a.github {
  border-radius: 100%;
  padding: 11px 0px 9px 10px;
  overflow: hidden;
  background-color: $dark;
}
header nav ul li a.github .icon {
  position: relative;
  line-height: 27px;
  font-size: 33px;
}
header nav ul li a.github:hover .icon:after {
  opacity: 1;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
header nav ul li a.github .icon:after {
  color: transparent;
  position: absolute;
  left: -2px;
  top: -1px;
  font-size: 1.3em;
  display: inline-block;
  content: "\e0ff";
  transition-duration: 0.3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: hvr-icon-drop;
  animation-name: hvr-icon-drop;
  -webkit-transform: translateY(-160%);
  -ms-transform: translateY(-160%);
  transform: translateY(-160%);
  opacity: 0;
}
.icon.icon-github:before {
  content: "\e606";
}
header nav ul li a.github:hover .icon:before {
  color: transparent;
  opacity: 0;
  -webkit-transform: translateY(160%);
  -ms-transform: translateY(160%);
  transform: translateY(160%);
}
header nav ul li a.github .icon:before {
  display: inline-block;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  transition-duration: 0.3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: hvr-icon-drop;
  animation-name: hvr-icon-drop;
  opacity: 1;
}
header nav ul li a.github .icon:before,
header nav ul li a.github .icon:after {
  color: #FFFFFF;
}

/* code preview hack */
.container .highlight .err {
  color: #d0d0d0;
  background: none;
}

/* toc hack */

//
// .heading-title {
//   border-left: solid 7px $dark;
//   padding-left: 10px;
//   display: inline-block;
// }
// .content {
//   background-color: #ffffff;
//   padding: 10px 0;
//
//   p {
//     padding: 0 25px;
//   }
//   h1 {
//     border-left: solid 21px $dark;
//     border-bottom: none !important;
//     font-weight: 800;
//   }
//   h2{
//     font-weight: 700;
//     border-top: none !important;
//     background-image: none;
//     border-bottom: none !important;
//     border-left: solid 5px #002835
//   }
//   h3 {
//     border-left: dotted 3px;
//     border-top: none !important;
//     font-weight: 700;
//   }
//   h4 {
//     border-left: solid 3px #CCC;
//     padding-left: 10px !important;
//     border-bottom: none !important;
//     font-weight: 600;
//   }
//   h5 {
//     border-left: dotted 3px #DDD;
//     padding-left: 10px !important;
//     border-bottom: none !important;
//     font-weight: 500;
//   }
// }
//
// .heading-links {
//   @extend %default-font;
//   display: inline-block;
//   padding: 0 20px 0 10px;
//   opacity: 0.5;
//   vertical-align: 5px;
//   text-transform: lowercase;
// }
// h2 .heading-links {
//   vertical-align: 2px;
// }
// h3 .heading-links {
//   vertical-align: 2px;
// }
// .heading-links:hover {
//   opacity: 1;
// }
// .heading-links a {
//   color: $dark;
//   text-decoration: none;
//   font-size: 12px;
// }
// .heading-links .icon {
//   color: $dark;
//   vertical-align: -2px;
//   margin-right: 5px;
//   font-size: 13px;
//   display: inline-block;
// }

// .version-selector label {
//   font-size: 12px;
// }
// .content .heading-first h1 {
//   margin-top: 0;
//   border-top: 30px solid #EEE !important;
// }

//
//

// .search {
//   position: relative;
//   float: left;
//   padding: 6px 14px 2px 14px;
//
//   &:before {
//     position: absolute;
//     top: 15px;
//     left: $nav-padding;
//     color: $dark;
//     @extend %icon-search;
//   }
// }
// .search input {
//   background-color: #FFFFFF;
//   border: 0;
//   outline: none;
//   width: 450px;
//   margin-left: 17px;
// }
// .developer-nav > ul {
//   float: right;
// }
// #toc {
//   padding-top: 15px;
// }
//
// .gitter-open-chat-button {
//   background-color: $dark !important;
// }
//
// .highlight, .highlight .w {
//   background-color: $dark !important;
// }
//
// .tocify ul ul ul li {
//   padding-left: 15px;
// }

header {
  .developer-nav {
    > ul {
      float: right;
    }
    > .search {
      float: left;
    }
  }
}

.content {
  background-color: #fff;
  padding: 25px 0;

  p, li, dt, dd {
    color: #555;
  }

  > p {
    padding: 0 15px
  }

  h1 {
    border-left: solid 21px $dark;
    font-weight: 800;
  }
  h2{
    font-weight: 700;
    border-left: solid 5px #002835;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  h3 {
    border-left: dotted 3px;
    font-weight: 700;
  }
  h4 {
    border-left: solid 3px #CCC;
    font-weight: 600;
  }
  h5 {
    border-left: dotted 3px #DDD;
    font-weight: 500;
  }

  h1, h2, h3, h4, h5, h6 {
    position:relative;

    > .anchor {
      position:absolute;
      top:-180px;
    }
  }

  table a,
  li a,
  p a {
    @extend %link-font;
  }
  table a:visited,
  li a:visited,
  p a:visited {
    @extend %link-font;
  }
  aside a:visited,
  aside a {
    @extend %link-font;
  }


  .panels {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .panel {
    display: inline-block;
    width: 50%;
  }
  .panel a {
    text-decoration: none;
    margin: 10px 20px 30px 20px;
    display: block;
    padding: 15px 25px;
    border: solid 1px #DDD;
    background-color: #FFF;
    animation: 1s all;
    box-shadow: 0;
  }
  .panel a:hover {
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .panel-title {
    color: #111;
    text-decoration: none !important;
    font-family: "Gobold";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
  .panel-title .icon {
    color: $dark;
    vertical-align: -8px;
    margin-right: 7px;
  }

  .panel-content {
    color: #555;
    padding: 25px 0 10px 0;
  }
  .panel-content button {
    display: block;
    margin-top: 24px;
    background-color: $medium;
    color: $dark;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: 7px 30px;
  }
}

.container {
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;

  .page-wrapper {
    padding: 25px 0 55px 0
  }

  .tocify-wrapper {
    top: 140px;
    background: $light;
    border-right: solid 10px #EEE;

    // .version-selector {
    //   padding: 10px 0 2px 14px;
    //   opacity: 0.6;
    // }
    // .version-selector:hover {
    //   opacity: 1;
    // }

    .toc-footer li,
    .toc-footer a {
      color: $dark;
    }

    .tocify-focus {
      box-shadow: none;
      color: #fff;
      background-color: $dark;
    }
    li {
      color: #393939;

      &.tocify-level-1 {
        padding-left: 0px
      }
      &.tocify-level-2 {
        padding-left: 15px
      }
      &.tocify-level-3 {
        padding-left: 30px
      }
      &.tocify-level-4 {
        padding-left: 45px
      }
      &.tocify-level-5 {
        padding-left: 60px
      }
      &.tocify-level-6 {
        padding-left: 75px
      }
    }
    > .search input {
      background: #FFF;
      color: #393939;
    }
    > .search:before {
      color: #333;
    }
    .tocify-subheader  {
      background: #FFF;
    }
    .tocify-header.header-active  {
      background: $dark;
      color: #FFF;
      > .tocify-item  {
       color: #FFF;
       border-left: solid 4px $dark;
      }
    }
  }
}



.language-tab {
  display: none;

  &.language-meta-tab,
  &.language-tab-active {
    display: block;
  }
}

.language-tab-selector {
  background-color: $dark;
  font-weight: bold;
  margin: 10px 0 -10px 0;
  position: relative;
  z-index: 50;
  border-bottom: 4px solid $medium;

  a {
    display: block;
    float:left;
    color: $lang-select-text;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    outline: 0;

    &:active, &:focus {
      background-color: $lang-select-pressed-bg;
      color: $lang-select-pressed-text;
    }

    &.language-tab-active {
      background-color: $lang-select-active-bg;
      color: $lang-select-active-text;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}